<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">


<h1> <%=@event.title%> </h1>
<form method="post" action="/events/<%=@event.id%>">
  <% if !@registration_flag.nil?  %>
    <% if @registration_flag  %>
      <button class = "btn btn-primary btn-lg" type="submit" value="cancel" name="commit"> Cancel This Event! </button>
      <% elsif !@registration_flag  %>
      <button class = "btn btn-primary btn-lg" type="submit" value="book" name="commit"> Book This Event! </button>
    <% end %>
  <% end %>
</form>

<p><%=@event.description%></p>
  

<div class="event_wrapper1">   
    <div class="col-md-4">
      
          <img src="/images/<%=@event.image_file%>" width = "200px" height = "200px">
          <h3> <%=@event.address%> </h3>
          <h3> <%=@event.capacity%> </h3>
          <h3> <%=@event.price%> </h3>
          <h3> <%=@event.event_date%> </h3>
        </div>
   </div>
</div>


<!-- New stuff -->




<form method="post" action="/events/<%=@event.id%>">
  
  <div>
    <label>Comment:</label>
    <input type="text" name="message" class="form-control">
  </div>
  <button class = "btn btn-primary btn-lg" type="submit" value="comment" name="commit"> Post your comment! ></button>

</form>



<div>
	<% @comments.each do |comment| %>
	<div>
		<h3>
			<%= comment.message %>  <small> (by: <%= comment.user.name %>)
      </small>
		</h3>

	</div>		
	<% end %>
</div>	






