<br>
<br>
<br>
<br>
<br>
<br>
<br>




 

<div class="container">

<h1 style="text-align: center; text-shadow: 1px 1px white;">List of Your Events</h1>

 
<br>
<br>
<br>

  <% @events.each do |event|%>
   <a href = "/events/<%= event.id %>">
      <div class="col-md-3" id="boxshadow">




        <img src="/images/<%=event.image_file%>" width = "250px" height = "200px" class="img-rounded"></a>
        <br>
        <br>
        <h4> <%=event.title%>  </h4>
        <h4> Seats Left: <%=event.capacity%> </h4>
        <h4> Price: $<%=event.price%> </h4>
      </div>
    
    <%end%>

   

</div
