
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="wrapper" id="events_header">


<div class="row">
<br>
<br>

<h1 id="eventalltitle">Explore All Events</h1>




<!--    Drop down search    --> 
<br>
<br>
<form id="create-event-button" method="get" action="/events">
    
     
      <!-- <input type="hidden" name="test" value="test" /> -->
      <select name="movie_genre" placeholder="Movie Genre"><p>
      <option value="" disabled selected>Genre</option>
<!--      <% @events.each do |event| %>
     <option value="<%=event.id%>"><%=event.movie_genre%></option>
      <%end%>  --> 
  
        <option value="Action">Action</option>
        <option value="Adventure">Adventure</option>
        <option value="Animation">Animation</option>
        <option value="Classic">Classic</option>
        <option value="comedy">Comedy</option>
        <option value="horror">Horror</option>
        <option value="romance">Romance</option>
        <option value="sport">Sports</option>
        
      </select>
    
      <select name="cuisine" placeholder = "Cuisine">
    <!--   <% @events.each do |event| %>
     <option value="<%=event.id%>"><%=event.cuisine%></option>
      <%end%>   -->
      <option value="" disabled selected>Cuisine</option>
      <option value="african">African</option>
      <option value="arabian">Arabian</option>
      <option value="chineese">Chineese</option>
      <option value="French">French</option>
      <option value="indian">Indian</option>
      <option value="japaneese">Japaneese</option>
      <option value="southern">Southern</option>
      <option value="thai">Thai</option>
      <option value="traditional">Traditional</option>
      
      

      </select>
      
    

 <button id="create-event-button" type="submit" value = "submit" >Filter</button>

</form>    
<br>
<br>
<br>
<br>


  


</div>
</div>  
<br>
<br>
<br>
<div class="container">
<div class="event_wrapper1">
  <% @events.each do |event|%>
   <a href = "/events/<%= event.id %>">
      <div class="col-md-4">



        <div class="shrink pic">
        <img src="/images/<%=event.image_file%>" class="img-rounded"></a>
        </div>
        <br>
        
        <h4> <%=event.title%>  </h4>
 <!--        <h4> Address: <%=event.address%> </h4>
        <h4> Price: <%=event.price%> </h4>
        <br>
        <br>
        <br>
        <br> -->
        <h4> Seats Left: <%=event.capacity%> </h4>
        <h4> Price: $<%=event.price%> </h4>

      </div>
    
    <%end%>


   
</div>



</div>

</div>


<!-- </div> -->


