<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
<h1>Explore All Events
<button> <a href= "/events/new"> Create Event Now </a> </button>
</h1>
  <p>Explore Unique Dining Experience with New Friends</p>
  

<div class="event_wrapper1">
  <% @events.each do |event|%>
   <a href = "/events/<%= event.id %>">
      <div class="col-md-4">
        <img src="/images/<%=event.image_file%>" width = "200px" height = "200px">
        <h3> <%=event.title%>  </h3>
        <h3> <%=event.capacity%> </h3>
        <h3> <%=event.price%> </h3>
      </div>
    </a>
    <%end%>

    <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
  </ul>
</div>