<div class="col-md-offset-4 col-md-4">

<h1>Create an Event</h1>

<hr>
<hr>

  <form method="post" action="/events/new">
  
    <div>
      <label>Event Title:</label>
      <input type="text" name="title" class="form-control" value="<%=@event.title %>">
    </div>

   <div>
     <label>Description:</label>
     <textarea name="description" class="form-control" value="<%=@event.description %>"></textarea>
   </div>

   <div>
     <label>Capacity:</label>
     <input type="integer" name="capacity" class="form-control" value="<%=@event.capacity %>">
   </div>

   <div>
     <label>Address:</label>
     <input type="text" name="address" class="form-control" value="<%=@event.address %>">
   </div>

   <div>
     <label>Price:</label>
     <input type="integer" name="price" class="form-control" value="<%=@event.price %>">
   </div>

   <div>
     <label>Event Date:</label>
     <input type="text" name="event_date" class="form-control" value="<%=@event.event_date %>">
   </div>


    <!--  Event date needs fixing  -->

        
   <div>
     <label>Image:</label>
     <input type="text" name="image_file" class="form-control" value="<%=@event.image_file %>">
   </div>

   <div>
     <br>
     <button class="btn btn-lg btn-primary btn-block" type="submit" value ="Create Event">Create Event</button>
   </div>
  </form>
</div>