<div class="col-md-offset-4 col-md-4">
<br>
<br>
<br>
<br>
<br>
<br>

<h1 style="text-align: center;">Create an Event</h1>



  <form method="post" action="/events/new" class>
  
    <div>
    
      <input type="text" name="title"  value="<%=@event.title %>" placeholder="Event Title">
    </div>

   <div>
    
     <input name="description"  value="<%=@event.description %>" placeholder="Description">
   </div>

   <div>
    
     <input type="integer" name="capacity"  value="<%=@event.capacity %>" placeholder="Capacity">
   </div>

   <div>

     <input type="text" name="address"  value="<%=@event.address %>" placeholder="Address">
   </div>

   <div>
     
     <input type="integer" name="price" value="<%=@event.price %>" placeholder="Price">
   </div>

   <div>
     
     <input type="date" name="event_date"  value="<%=@event.event_date %>" placeholder="Event Date">
   </div>

   <div>
   
     <input type="time" name="start_time"  value="<%=@event.start_time %>" placeholder="Start time">
   </div>

   <div>

     <input type="text" name="movie_genre" value="<%=@event.movie_genre %>" placeholder="Movie Genre">
   </div>

   <div>
    
     <input type="text" name="cuisine" value="<%=@event.cuisine %>" placeholder="Cuisine Type"  >
   </div>


    <!--  Event date needs fixing  -->

        
   <div>
   
     <input type="text" name="image_file"  value="<%=@event.image_file %>" placeholder="Insert Image">
   </div>

   <div>
     <br>
     <button class="btn btn-lg btn-primary btn-block" type="submit" value ="Create Event">Create Event</button>
   </div>
  </form>
</div>

